body{
    font-family:"Times New Roman", Times, serif;
    font-size:16pt;
    background: linear-gradient(to bottom, #011800, #241700);
    min-height: 100vh;
    color: rgb(255, 151, 0);
    padding-left: 20%;
    padding-right: 20%;
}#page{margin-left:1em}

h1 {text-align: left;}
p {text-align: left;}
div {text-align: center;}
h2 {text-align: left;}

ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

.img_footer {
    text-align: center;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

.footer-img {
    width: 5%;
    max-width: 50px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    body {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0;
    }
    
    #page {
        margin-left: 0;
    }
    
    .footer-img {
        width: 10%;
    }
}

